<div class="flex justify-center">
  <%= form_for @conn, Routes.session_path(@conn, :create), [class: "mt-5 w-4/12 p-6 bg-white shadow-md"], fn f -> %>
    <%= label f, :username, class: "font-bold block mb-3" %>
    <%= text_input f, :username, value: @username, class: "mb-3 h-8 w-full px-3 rounded shadow focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <%= submit "Proceed", class: "block bg-blue-500 hover:bg-blue-700 p-3 rounded-lg text-white" %>
  <% end %>
</div>
